.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background: #1a1a2e;
}

.welcome-content {
  max-width: 50%;
}

.welcome-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.welcome-content p {
  font-size: 1.2rem;
}

.welcome-image img {
  max-width: 300px;
}

.toggle-letter {
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(4px); // Aparece desde abajo
}

.toggle-letter.show {
  opacity: 1;
  transform: translateY(0); // Posición original
}

